@use "../abstracts" as *;

.btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  border: 0;
  border-radius: var(--border-radius);
  font-weight: var(--font-weight, 700);
  padding: 1.125em 2em;
  transition: 275ms ease;

  width: 100%;
  text-align: center;

  @include mq (medium) {
    width: auto;
  }

  &[data-type="accent"] {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-50);
    &:is(:hover, :focus) {
      background: var(--clr-primary-600);
      color: var(--clr-neutral-50);
    }
  }

  &[data-type="outline"] {
    // --outline-size: 3px;

    background: transparent;
    // outline: var(--outline-size) solid var(--clr-neutral-50);
    border: 3px solid var(--clr-neutral-50);
    border-radius: var(--border-radius);
    // outline-offset: calc(var(--outline-size) * -1);
    color: var(--clr-neutral-50);
    &:is(:hover, :focus) {
      background: var(--clr-neutral-50);
      color: var(--clr-neutral-400);
    }
  }

}

.mobile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  --font-weight: 500;
  font-size: var(--fs-300);
  text-decoration: none;
  line-height: 1;
  padding: 1em 0;
  cursor: pointer;
  border-radius: 0;
}