@use "../abstracts" as *;

// gallery 
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 columns */
  grid-template-rows: repeat(1, auto); /* 2 rows */
  grid-gap: 1.25rem;
  margin-bottom: 1.25rem;

	// desktop
	@include mq(medium) {
		grid-template-columns: repeat(4, 1fr); /* 4 columns */
		grid-template-rows: repeat(2, auto); /* 2 rows */
	}
}
