.container {
	padding: 0 1.5rem;
	max-width: 90rem;
	margin: 0 auto;
}

.container-sm {
	padding: 1.5rem;
	max-width: 65rem;
	margin: 0 auto;
}

.container-xs {
	padding: 1.5rem;
	max-width: 48rem;
	margin: 0 auto;
}

.w-container {
	padding: 0 1.5rem;
	max-width: 90rem;
	margin: 0 auto;
	&::before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
	}
	&::after {
		clear: both;
	}
	&::after {
		content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
	}
}