@use "../abstracts" as *;

@each $size-name,
$size-value in $sizes {
	.margin {
		&-#{$size-name} {
			margin: $size-value;
		}

		&-block-start-#{$size-name} {
			margin-block-start: $size-value;
		}

		&-block-end-#{$size-name} {
			margin-block-end: $size-value;
		}

		&-block-#{$size-name} {
			margin-block: $size-value;
		}

		&-inline-start-#{$size-name} {
			margin-inline-start: $size-value;
		}

		&-inline-end-#{$size-name} {
			margin-inline-end: $size-value;
		}

		&-inline-#{$size-name} {
			margin-inline: $size-value;
		}
	}

	.padding {
		&-#{$size-name} {
			padding: $size-value;
		}

		&-block-start-#{$size-name} {
			padding-block-start: $size-value;
		}

		&-block-end-#{$size-name} {
			padding-block-end: $size-value;
		}

		&-block-#{$size-name} {
			padding-block: $size-value;
		}

		&-inline-start-#{$size-name} {
			padding-inline-start: $size-value;
		}

		&-inline-end-#{$size-name} {
			padding-inline-end: $size-value;
		}

		&-inline-#{$size-name} {
			padding-inline: $size-value;
		}
	}
}

.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-content-end {
	justify-content: end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-evenly {
	justify-content: space-evenly;
}

.position-relative {
	position: relative;
}

.text-center {
	text-align: center;
}

.stretched-link::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	content: "";
}

.stack>*+* {
	margin-block-start: 1.5rem;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.facebook {
	&::before {
		content: "";
		display: inline-block;
		width: 1.75rem;
		height: 1.75rem;
		background: url("../img/facebook.svg") no-repeat center center;
		background-size: contain;
	}
}

.instagram {
	&::before {
		content: "";
		display: inline-block;
		width: 1.75rem;
		height: 1.75rem;
		background: url("../img/instagram.svg") no-repeat center center;
		background-size: contain;
	}
}