---

---

<div
  class="text-md bg-primary px-3 py-2 flex flex-col items-center justify-center"
>
  <span class="bg-white/70 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 block">
    SAVE MORE IN 2025!
  </span>
  <span class="text-white hover:underline font-medium block">
    3% off for job bundling on jobs over $2,000.
  </span>
  <span class="text-white hover:underline font-medium block">
    1% off for cash payment or 2% off for cash or check prepayment on any amount
  </span>
  <span class="text-white hover:underline font-medium block">
    You and a neighbor could get $100 off your next job for a neighborhood job referral.
  </span>
</div>
