<div class="text-md bg-primary px-3 py-2 flex flex-col items-center justify-center text-center">
  <span class="bg-white/70 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 block">
    SAVE MORE!
  </span>
  <span class="text-white hover:underline font-medium block mb-2 max-w-2xl">
    Ask about how to get 10% off your next job with job bundling
  </span>
</div>