@use '../abstracts/' as *;

// hero grid 
.h-grid-col-2-1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  grid-template-columns: 1fr;
  @include mq (medium) {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

// grid
.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.25rem;
  
  @include mq(medium) {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  
  @include mq(medium) {
    grid-template-columns: 1fr 1fr;
  }
}

// featured projects grid
.highlight {
  display: grid;
  grid-template-columns: 1fr;
  
  @include mq(medium) {
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.25rem;
  
  @include mq(medium) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

// grid overlap
.image-stack {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  width: 100%;
  margin: 0 auto;
}

.image-stack-item-bottom,
.image-stack-item-top {
  @include mq(medium) {
    grid-row: 1 / 2;
    align-self: center;
  }
}

.image-stack-item-bottom {
  grid-column: 1 / 3;
  @include mq(medium) {
    grid-column: 1 / -1;
  }
  margin-left: auto;
}

.image-stack-item-top {
  grid-column: 1 / -1;
	border-style: solid;
	border-width: 1px;
	border-color: var(--clr-primary-100);
	background-color: var(--clr-neutral-50);
	box-shadow: 0 2px 7px 0 rgba(20, 20, 43, 0.06);
    -webkit-transition: color 300ms ease, -webkit-transform 300ms ease;
    transition: color 300ms ease, -webkit-transform 300ms ease;
    transition: transform 300ms ease, color 300ms ease;
    transition: transform 300ms ease, color 300ms ease, -webkit-transform 300ms ease;
    text-decoration: none;
    -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  padding: 1.45em;

  @include mq(medium) {
    grid-column: 1 / 1;
  }
}